/**********
img/print-and-cut-graphics.jpg
img/WindowGraphics10.jpg

Template CSS **********/
:root {
    --primary: #00000022;
    --green: black;
    --dark: #000000;
}

.ed {
    font-size: medium;
}







.photo-wrapper {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.photo {
    border-radius: 16px;
    overflow: hidden;
    width: 752px;
    height: 285px;
    position: relative;
    flex-shrink: 0;
    transition: transform 0.25s ease;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo::after {
    content: "";
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    left: -16rem;
    background: linear-gradient(90deg, transparent, white, transparent);
    width: 16rem;
    opacity: 0;
    transform: rotate(6deg);
}

.photo:hover::after {
    left: 100%;
    opacity: 0.15;
    transition: left 1s;
}

.photo:hover {
    transform: scale(1.1) !important;
}

.photo.even {
    transform: rotate(2deg);
}

.photo:not(.even) {
    transform: rotate(-2deg);
}



@media only screen and (min-width: 1024px) {
    .unwanted{
        display: none;
    }
}

.btn.btn-lg.btn-success.btn-lg-square.rounded-circle.watsapp:hover {
    color: #dbae34;
    font-weight: bold;
}

.feature-text h5 {
    transition: all 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.ads {
    width: 100%;
    height: 38em;
}

.ads .images {
    width: 100%;
    height: 100%;
}

.images img {
    width: 100%;
    height: 38em;
}

/* Style the dropdown button */
/* Style the dropdown button */
.dropbtn {
    background-color: #dbae34;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #cca331;
}

/* Dropdown button on hover & focus */
@media only screen and (max-width: 767px) {

    /* Apply width of 94% */
    .dropbtn {
        width: 94%;
    }

    .img-fluid {
        max-width: 55%;
        height: auto;
    }

    .cont-height {
        height: 65em;
    }
    .cont{
        height: 12em !important;

    }

    .img-height{
        height: 14em;
    } .cr-width {
        width: 181%;
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}



.section-header h3 {
    font-size: 36px;
    color: #000000;
    text-align: center;
    font-weight: 500;
    position: relative;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #000000;
    width: 50%;
}

#clients {
    padding: 60px 0;

}

#clients .clients-wrap {
    border-top: 1px solid #dbae34;
    border-left: 1px solid #dbae34;
    margin-bottom: 30px;
}

#clients .client-logo {
    padding: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #dbae34;
    border-bottom: 1px solid #dbae34;
    overflow: hidden;
    background: #dbae34;
    height: 160px;
}

#clients img {
    transition: all 0.4s ease-in-out;
}



.slick-slide {
    margin: 10px
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #dbae34;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */


/* Show the dropdown menu when the button is clicked */
.show {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:focus .dropbtn {
    background-color: #0d1013;
}

.nested-dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 100%;
    top: 0;
    overflow-y: scroll;
}

.nested-dropdown-content a {
    color: #dbae34;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(32, 31, 31);
}

.show {
    display: block;
}


.call-action {
    background: black;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.call-action .content {
    text-align: center;
    padding: 100px 265px;
}

.call-action .content h2 {
    color: #dbae34;
    font-size: 32px;
    font-weight: 600;
    line-height: 46px;
}

.call-action .content p {
    color: #dbae34;
    margin: 30px 0px;
    font-size: 15px;
}

/* @media screen and (max-width: 767px) {
	.mob {
	  height: 229px;
	}
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
	.portfolio.single-pf{
	  height: 362px;
	}
  }
   */
@media screen and (min-width: 1024px) {
    .phone-next {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .text-end {
        margin-top: -4em;
    }

    .text-start {
        margin-top: -2em;
    }

    .phn {

        margin-top: -6px;
        font-size: 13px;
    }
    .mob-un{
        display: none;
    }
    .cont {
        height: 3em;
    }

    .dis {
        display: none !important;
    }

    .phon {
        margin-top: -2em;
    }
}

@media screen and (min-width: 1024px) {
    .logo-black {
        height: 97%;
        position: absolute;
        top: -9px;
        width: 154px;
    }
 
}

@media screen and (max-width: 767px) {
    .logo-black {
        width: 110px;
        margin-top: 12px;
    }
    .mr-service{
     margin-top: 22em;   
    }
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo-black {
        width: 112px;
    }
    .unwanted{
        display: none;
    }
    .mr-service{
     margin-top: -4em;   
    }
}
@media only screen and (min-width: 1024px) {
    .p-lg-0 {
        padding: 5px !important;
    }
}

.text-yellow {
    color: #dbae34;
}

.image-slider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dbae34;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.button-style:hover {
    background-color: #c89f2d;
}

.image-slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image-slider img.active {
    opacity: 1;
}


.call-action .content .btn {
    background: #dbae34;
    margin-right: 20px;
    font-weight: 500;
    border: 1px solid #2222;
    color: #000000;
}

.call-action .content .btn:before {
    background: black;
}

.call-action .content .btn:hover {
    background: #947727;
    color: #000000;
}

.call-action .content .btn:last-child {
    margin-right: 0px;
}

.call-action .content .second {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    color: #fff !important;
}

.call-action .content .second:before {
    background: #fff;
}



.call-action .content .second i {
    margin-left: 10px;
}

.call-action .content {
    padding: 0;
    padding: 70px 0;
}

.call-action .content h2 {
    font-size: 28px;
    line-height: 40px;
}

.call-action .content {
    padding: 0;
    padding: 70px 0;
}

.call-action .content h2 {
    font-size: 28px;
    line-height: 40px;
}

.call-action .content {
    padding: 0;
    padding: 70px 0;
}

.call-action .content h2 {
    font-size: 28px;
    line-height: 40px;
}

.text-green {
    color: #00ab6a;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.watsapp {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}


.btn.btn-secondary {
    color: #00ab6a;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 220px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.nav-links {
    color: #dbae34;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #dbae34;
    font-size: 15px;
    font-weight: 500;

    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #dbae34;
    font-weight: 900;
    transition: 0.5s;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #000000;
    }

    .logo {
        margin-left: 0;
    }
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.owl-dots {
    display: none;
}

.header-carousel .owl-carousel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}
@media (min-width: 992px) {
    .rep{
        margin-right: 16px; /* Apply margin-right on larger screens */
    }
}
.dp{
    margin-left: 20px !important;
    height: 48px !important;
    background-color: #dbae34;
    margin-top: -1px;
}
.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 44px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

/* .header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    transition: .5s;
} */

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .width-change {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21em;
        margin-left: -3em;

        /* Set width to 100% on screens smaller than 600px */
    }

    .form-width {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21em;
        margin-left: -3em;
    }
}



.page-header {
    text-align: center;
    background-size: cover;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Service ***/
.service-item {
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 40px;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Team ***/
.team-item img {
    position: relative;
    top: 0;
    transition: .5s;
}

.team-item:hover img {
    top: -33px;
}

.team-item .team-text {
    position: relative;
    height: 100px;
    transition: .5s;
    
}

.team-item:hover .team-text {
    margin-top: -50px;
    height: 160px;
}

.team-item .team-text .team-social {
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text .team-social {
    opacity: 1;
}

.team-item .team-social .btn {
    display: inline-flex;
    color: #c89f2d;
    background: #000000;
    border-radius: 40px;
}

.team-item .team-social .btn:hover {
    color: #000000;
    background: #c89f2d;

}


/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {

    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    background: var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary);
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

/* .testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
} */

/* .testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
} */


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

.text-black-css {
    color: #000000;
}

/* .ads{
    width: 100%;
    height: 30%;
   
} */
@media screen and (max-width: 767px) {
    .ads {
        height: 18em !important;
    }

    .images img {
        height: 18em !important;
    }

    .cr-head {
        display: none;
    }
    .adjust{
        height: 25em;
    }
    .why-image{
        display: none;
    }

}

@media (min-width: 600px) and (max-width: 1024px) {
    .cr-head {
        display: none;
    }
    
}